@import '../../components/Sass/variables.scss';

.comic {
  text-align: center;
  p {
    @extend %font;
    color: $secondary-color-two;
    font-size: 18px;
  }
  h1 {
    margin: 20px 0px 30px 0px;
    @extend %font;
    color: $secondary-color-two;

    @include media('mobileS') {
      font-size: 18px;
    }
    @include media('mobileM') {
      font-size: 19px;
    }
    @include media('mobileL') {
      font-size: 20px;
    }
    @include media('tablet') {
      font-size: 22px;
    }
    @include media('laptop') {
      font-size: 24px;
    }
    @include media('laptopL') {
      font-size: 26px;
    }
    @include media('desktop') {
      font-size: 28px;
    }
  }
  &__img {
    display: flex;
    align-items: center;
    margin: auto;
    @include media('mobileS') {
      width: 270px;
      height: 220px;
    }
    @include media('mobileM') {
      width: 300px;
      height: 260px;
    }
    @include media('mobileL') {
      width: 330px;
      height: 290px;
    }
    @include media('tablet') {
      width: 360px;
      height: 320px;
    }
    @include media('laptop') {
      width: 390px;
      height: 350px;
    }
    @include media('laptopL') {
      width: 420px;
      height: 380px;
    }
    @include media('desktop') {
      width: 450px;
      height: 410px;
    }
    figure {
      margin: auto;
      img {
        @include media('mobileS') {
          max-width: 270px;
          max-height: 220px;
          &:hover {
            max-width: 275px;
            max-height: 225px;
            transition: width 1s, height 1s;
          }
        }
        @include media('mobileM') {
          max-width: 300px;
          max-height: 260px;
          &:hover {
            max-width: 305px;
            max-height: 265px;
            transition: width 1s, height 1s;
          }
        }
        @include media('mobileL') {
          max-width: 330px;
          max-height: 290px;
          &:hover {
            max-width: 335px;
            max-height: 295px;
            transition: width 1s, height 1s;
          }
        }
        @include media('tablet') {
          max-width: 360px;
          max-height: 320px;
          &:hover {
            max-width: 365px;
            max-height: 325px;
            transition: width 1s, height 1s;
          }
        }
        @include media('laptop') {
          max-width: 390px;
          max-height: 350px;
          &:hover {
            max-width: 395px;
            max-height: 355px;
            transition: width 1s, height 1s;
          }
        }
        @include media('laptopL') {
          max-width: 420px;
          max-height: 380px;
          &:hover {
            max-width: 425px;
            max-height: 385px;
            transition: width 1s, height 1s;
          }
        }
        @include media('desktop') {
          max-width: 450px;
          max-height: 410px;
          &:hover {
            max-width: 455px;
            max-height: 415px;
            transition: width 1s, height 1s;
          }
        }
        box-shadow: 0px 0px 10px $primary-color;
        border-radius: 10px;
        cursor: pointer;
      }
    }
  }
  .value {
    &__generate {
      background-color: $primary-color;
      outline: none;
      cursor: pointer;
      border-radius: 5px;
      color: $white-color;
      @extend %font;
      margin-top: 30px;
      margin-bottom: 30px;
      &:hover {
        background-color: $secondary-color-two;
      }
      @include media('mobileS') {
        width: 58px;
        height: 38px;
        &:hover {
          width: 58px;
          height: 40px;
        }
      }
      @include media('mobileM') {
        width: 60px;
        height: 42px;
        &:hover {
          width: 62px;
          height: 44px;
        }
      }
      @include media('mobileL') {
        width: 62px;
        height: 42px;
        &:hover {
          width: 64px;
          height: 44px;
        }
      }
      @include media('tablet') {
        width: 64px;
        height: 44px;
        &:hover {
          width: 66px;
          height: 46px;
        }
      }
      @include media('laptop') {
        width: 66px;
        height: 46px;
        &:hover {
          width: 68px;
          height: 48px;
        }
      }
      @include media('laptopL') {
        width: 68px;
        height: 48px;
        &:hover {
          width: 70px;
          height: 50px;
        }
      }
      @include media('desktop') {
        width: 70px;
        height: 50px;
        &:hover {
          width: 72px;
          height: 52px;
        }
      }
    }
  }
}
